@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 208 100% 97%;
        --foreground: 197 34% 46%;

        --primary: 180 27% 59%;
        --primary-foreground: 208 100% 97%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 208 100% 97%;
        --foreground: 197 34% 46%;

        --primary: 180 27% 59%;
        --primary-foreground: 208 100% 97%;
    }
}

@layer base {
    * {
        @apply select-none tracking-wider;
    }
    html,
    body,
    :root {
        @apply h-full;
    }
    body {
        @apply bg-background text-foreground;
    }
}
